.about {
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* align-items: center; */
  /* justify-content: center; */

  margin: 0 auto;
  padding: 40px 20px;
  width: 80%;
  max-width: 1000px;
  /* max-height: 600px; */
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.about > h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.about > p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.about > h6.developer {
  margin: 0 auto;
  font-size: 1rem;
  max-width: 400px;
  text-align: center;
  font-weight: 400;
}

.about > h6.developer > a {
  text-decoration: underline;
  transition: color 200ms ease-in-out;
}
.about > h6.developer > a:hover {
  color: #ff5d8f;
}

@media screen and (max-width: 480px) {
  .about {
    width: 90%;
  }

  .about > h1 {
    font-size: 1.5rem;
  }

  .about > p {
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
}
