.content-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;

  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
}

.content-item:hover {
  background-color: var(--clr-light);
}

.content-item > .content-image {
  min-width: 110px;
  width: 110px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;

  border: 1px solid var(--clr-gray);
  border-radius: 10px;
}

.content-item > .content-detail {
  padding: 10px;
}

.content-detail > h3 {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
  .content-item {
    width: 100%;
    max-width: none;
    margin-bottom: 0;
    box-shadow: none;
    border-bottom: 1px solid var(--clr-gray);
    border-radius: 0;
    padding: 20px 20px;
  }

  .content-item:first-of-type {
    padding-top: 10px;
  }

  .content-item:last-of-type {
    border-bottom: 0;

    padding-bottom: 0;
  }
}

@media screen and (max-width: 420px) {
  .content-item {
    padding: 20px 0;
  }
}
