:root {
  --clr-lightgreen: #16db93;
  --clr-lightblue: #00a8e8;
  --clr-font: #212529;
  --clr-font-sec: #403d40;
  --clr-white: #fff;
  --clr-light: #f4f4f4a9;
  --clr-gray: #a6a6a6;
  --clr-gray-draker: #5e5e5e;
  --shadow-sm: 0 3px 13px rgba(0, 0, 0, 0.2);
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  --debug-red: 2px solid red;
  --debug-orange: 2px solid orange;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Montserrat", Arial, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--clr-font);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}
